@import 'src/styles/palette';

// .template_input{
// 	.container{
		.MuiFormControlLabel-root{
			margin:0 !important;
			padding: 0 5px;
			max-height: 100%;

			// .MuiButtonBase-root{
			// 	// padding-right: 0;
			// }


			.MuiButtonBase-root,
			.MuiFormControlLabel-label{
				padding: 5px;
			}

			.MuiRadio-colorPrimary.Mui-checked{
				color: $dark-blue;
			}
		}
// 	}
// }
